<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <p>Add new Servers or blueprints!</p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12">

        </div>


        <div class="row">
          <div class="col-xs-12">
            <app-game-control (intervalFired)="onIntervalFired($event)"></app-game-control> <!--to bring in html from game control-->

          </div>
        <div class="row">
          <div class="col-xs-12">
            <app-odd *ngFor="let oddNumber of oddNumbers"></app-odd> <!--to bring in html from game control/looping -->
        </div>

        <div class="row">
         <div class="col-xs-12">
          <app-odd *ngFor="let oddNumber of oddNumbers" [number]="oddNumber"></app-odd>
          <app-even *ngFor="let evenNumber of evenNumbers" [number]="evenNumber"></app-even>
         </div>
        </div>


        </div>
      </div>

    </div>
  </div>
